html, body {
	padding: 0;
}

header {
	text-align: center;
	vertical-align: middle;
	height: 200px;
}

.container-fluid {
	padding: 0;
}

.caption {
	position: absolute;
}

.row {
	height: 400px;
	overflow: hidden;
}